.storie {
  display: flex;
  background-color: #fff;
  border: 1px #ccc;
  color: #333;
  font-size: 13pt;
  border: 1px solid #ccc;
}

.storie:hover {
  background-color: #fafafa;
}

.storie_author {
  color: #999;
}

.content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.right_content {
  display: flex;
  gap: 3rem;
}

.delete_btn {
  padding-left: 1em;
  padding-right: 1em;
}
